#!/usr/bin/env bash

# Author: Juergen Mang <juergen.mang@axians.de>
# Date: 2023-07-27

# Shortdesc: Custom configuration file for restsh.init.
# Desc:
# Custom configuration file for restsh.init.
# Set central environment variables if not already set.

# Debugging
# export RESTSH_DEBUG="true"

# REST host to connect to
#[ -z "${RESTSH_SCHEME+x}" ] && export RESTSH_SCHEME="https"
[ -z "${RESTSH_HOST+x}" ] && export RESTSH_HOST="localhost"
#[ -z "${RESTSH_PORT+x}" ] && export RESTSH_PORT="443"

# Curl options
# Set this to 1 to enable curl insecure option (disables tls checks).
#[ -z "${RESTSH_CURL_INSECURE+x}" ] && export RESTSH_CURL_INSECURE="0"

# Authentication settings
#[ -z "${RESTSH_AUTH+x}" ] && export RESTSH_AUTH="basic"
#[ -z "${RESTSH_AUTH+x}" ] && export RESTSH_AUTH="token"
#[ -z "${RESTSH_AUTH+x}" ] && export RESTSH_AUTH="netrc"
[ -z "${RESTSH_AUTH+x}" ] && export RESTSH_AUTH="anonymous"

# Set username/password for basic auth
#[ -z "${RESTSH_USER+x}" ] && export RESTSH_USER="apiuser"
#[ -z "${RESTSH_PASS+x}" ] && export RESTSH_PASS="apipass"

# Set token header and value
#[ -z "${RESTSH_TOKEN_HEADER+x}" ] && export RESTSH_TOKEN_HEADER="X-Auth-Token"
#[ -z "${RESTSH_TOKEN_VALUE+x}" ] && export RESTSH_TOKEN_VALUE="the_token"

# Set REST payload format
#[ -z "${RESTSH_CONTENT+x}" ] && export RESTSH_CONTENT="application/json"

###############################################################################
# F5 specific settings
[ -z "${F5_TASK_CHECK_INTERVAL+x}" ] && export F5_TASK_CHECK_INTERVAL=10
[ -z "${F5_TASK_TIMEOUT+x}" ] && export F5_TASK_TIMEOUT=18
