html[data-theme="light"] {
    --pst-color-primary: #0060bd;
    --pst-color-secondary: #004384;
    --pst-color-inline-code: #0060bd;
    --pst-color-inline-code-links: #004384;
    --pst-color-link-hover: #a4036a;
}


html[data-theme="dark"] {
    --pst-color-inline-code: #528fe4;
    --pst-color-inline-code-links: #528fe4;
    --pst-color-link-hover: #a4036a;
}

html {
    --pst-color-table-row-hover-bg: rgba(0,0,0,0.1) !important;
}

.bd-page-width {
    max-width: unset;
}

.bd-header-announcement {
    background-color: #0060bd !important;
    color: #ffffff;
    padding: .5rem 0rem;
    justify-content: space-between;
}

.bd-header-announcement__content {
    display:contents;
}

.bd-header-announcement__content > div {
    display: flex;
    margin: 0 1rem;
}

.ax-logo {
    margin-top: 0.75rem;
    margin-left: 0.25rem;
    color: #ffffff;
}

a:hover {
    text-decoration-thickness:unset !important;
}
