html[data-theme="light"] {
    --pst-color-primary: #0060bd;
    --pst-color-secondary: #004384;
    --pst-color-inline-code: #0060bd;
    --pst-color-inline-code-links: #004384;
    --pst-color-link-hover: #a4036a;
}


html[data-theme="dark"] {
    --pst-color-inline-code: #528fe4;
    --pst-color-inline-code-links: #528fe4;
    --pst-color-link-hover: #a4036a;
}

html {
    --pst-color-table-row-hover-bg: rgba(0,0,0,0.1) !important;
}

.bd-page-width {
    max-width: unset;
}

a:hover {
    text-decoration-thickness:unset !important;
}

.footer-item a {
    margin-right: 2rem;
}
